In [1]:
# import libraries for data manipulation
import numpy as np
import pandas as pd

# import libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
a = 10
b = 5.1
add = a + b
type(add)

float

In [3]:
5 == (3 + 2)

True

In [4]:
a = 3
print(a + (33))

36

In [6]:
#In Python, the float() method is used to convert a number stored in a string or integer into a floating-point number.

In [7]:
a = 10 # assign variable a to literal 10
print('Five times a is', 5*a)

Five times a is 50

In [8]:
# Which of the below snippets can be used to calculate the area of a triangle with base = 10 and height = 5?
area = 0.5 * 10 * 5
print("Area of triangle:", area)

Area of triangle: 25.0

In [10]:
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
z

1225.0

In [11]:
a = 10 
b = 5
print("A and B before swapping {},{}".format(a,b))
temp = a #create a third variable and assign the value of a to it
#########write the missing code
a = b
###########
b = temp #value of a is in third variable so assign the value to b
print("A and B after swapping {},{}".format(a,b))

A and B before swapping 10,5
A and B after swapping 5,10

In [12]:
# Which of the below snippets can be used to convert 35 degrees Celsius temperature to Fahrenheit?
celsius = 35
fah = 1.8 * celsius + 32
print("Temperature in Fahrenheit =", fah)

Temperature in Fahrenheit = 95.0

In [16]:
# replace the first element of the list l with "strawberries"?
l = ["apple","orange","grapes","watermelon"]
l[0] = "strawberries"
print(l)

['strawberries', 'orange', 'grapes', 'watermelon']

In [17]:
# Which of the following snippets can be used to iterate through the list l and print the list elements?
l = ['a','b','c']
for i in l:
 print(i)

a
b
c

In [18]:
# Which of the following snippets can be used to print squares of all numbers present in the list = [1, 12, 24, 36, 11, 20,50]?
number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

1
144
576
1296
121
400
2500

In [19]:
# Choose the appropriate command to pop the 'yellow' color from the below list l.
l = ['white','red', 'blue', 'green','blue','yellow', 'black']
l.pop(5)
l

['white', 'red', 'blue', 'green', 'blue', 'black']

In [21]:
# Choose the appropriate snippet to create and print a dictionary with the following information.

# brand = Audi
# Model = Q2
# Year = 1980

car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}

In [22]:
# Which of the following codes can be used to change the year to 2019 in the below dictionary?
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
car["year"] = 2019
car

{'brand': 'Audi', 'model': 'Q2', 'year': 2019}

In [23]:
# Choose the appropriate snippet to create and print a set with the following data.

1.0, "Hello", 55 , (6,7,8)

s = {1.0, "Hello", 55, (6,7,8)}
print(s)

{'Hello', 1.0, (6, 7, 8), 55}

In [29]:
# Which of the below snippets can be used to print -10 to -1?
for i in range(-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [30]:
# Choose the missing code to print from 1 - 10
n = 10
i = 1
while i <= n:
    print(i)
 # missing code
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [33]:
# Choose the missing code in the below snippet to print the first ten even numbers.
for i in range(1, 21):
 # missing code
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [34]:
# Which of the following snippets can be used to generate the correct multiplication table of 5?
n = 5
i = 1
while i <= 10:
    print("{} * {} =".format(n, i), n*i)
    i = i + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [35]:
# What does this snippet of code do? 

n = 8
for i in range(1, 11):
    print("{} ^ {} =".format(n, i), n**i)
    # Prints the power table of 8

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [37]:
#For numbers 1 to 100:

# If a number is divisible by 3, then print Fizz.
# If a number is divisible by 5, then print Buzz.
# If a number is divisible by 3 and 5 both, then print FizzBuzz.
# If a number is neither divisible by 3 or 5, just print the number.

for i in range(1, 20):
    if(i % 3 == 0 and i % 5 == 0):
        print("FizzBuzz")
    elif (i % 3 == 0):
        print("Fizz")
    elif(i % 5 == 0):
        print("Buzz")
    else: 
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

In [39]:
# Choose the missing code in the below snippet to find the sum of all numbers from 1 to 100.

sum = 0
for i in range(1, 101):
 # missing code
    sum = sum + i
print(sum)

5050

In [41]:
# Choose the appropriate snippet to find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [47]:
# What does this code do?

st = "Data Science"
count = 0
for i in st:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u": 
        count = count + 1
        print(count)
# Prints the number of vowels in the string 'Data Science'

1
2
3
4
5

In [48]:
# What's the output of this code?
a = "Data Science"
for i in range(0, 5):
    print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

In [50]:
# What's the output of this code?
length = 5
breadth = 10
# find the area and perimeter of the rectangle
Area = length * breadth 
Perimeter = 2 * (length + breadth)
# check whether the area of the rectangle is greater than the perimeter of the rectangle
if Area > Perimeter:
    print("Area of the rectangle is greater than the Perimeter of the rectangle")
else:
    print("Perimeter of the rectangle is greater than the Area of the rectangle")

Area of the rectangle is greater than the Perimeter of the rectangle

In [53]:
marks_sub1 = 72
marks_sub2 = 85
marks_sub3 = 96
marks_sub4 = 42
marks_sub5 = 95
avg = (marks_sub1 + marks_sub2 + marks_sub3 + marks_sub4 + marks_sub5) / 5
print("Average=", avg)
if avg>90:
    print("Grade A")
elif avg>80:
    print("Grade B")
elif avg>70:
    print("Grade C")
elif avg>60:
    print("Grade D")
elif avg>50:
    print("Grade E")
else:
    print("Fail")

Average= 78.0
Grade C

In [55]:
# 1. An equilateral triangle is a triangle in which all three sides are equal.

# 2. An isosceles triangle is a triangle with (at least) two equal sides.

# 3. A scalene triangle is a triangle that has three unequal sides

In [57]:
# Choose the appropriate snippet to check if x is less than y.
x = 20
y = 30
if x < y:
    print("X is less than Y")

X is less than Y

In [58]:
age = int(input('Enter your age: '))
if age < 18:
    print("Not Eligible for work")
elif age >= 18 and age <= 60:
    print("Eligible to work")
else:
    print("Too old to work as per the government rules")

Enter your age: 22
Eligible to work

In [60]:
def mths(a, b):
    print(a + b)
    print(a - b)
    print(a * b)
    print(a // b)
 
mths(9, 5)

14
4
45
1

In [61]:
def x2p5(x):
 y = x * x
 z = y + 5
 return z

print(x2p5(5))

30

In [65]:
x2p5lam = lambda x: x * x + 5
x2p5lam(3)

14

In [66]:
# Python indexes 'list' data structures from 0.

In [67]:
b = 3.1
type(b)

# The data type of b is 'int'.

float

In [73]:
# Which code below gives 'c' output. 1st and 2nd
list = ['a','b','c','d']

list[-2]
list[2]
# list[3]
# list[-1]

'c'

In [74]:
# Changing one particular data type to another is called typecasting.

In [75]:
# 4th iteration = 24 (see results below)
a= 1
 
for i in range(1,6): 
     a = a* i
     print(a)

1
2
6
24
120

In [79]:
# Consider the following mathematical operations where x,y and z are three different numbers.

x = 5
y = 7
z=9

(x**y) + (y/z) + (x-y) +(z-y) - (y*x)

# For what combination of x,y and z we get the answer to be 78090.77777777778

78090.77777777778

In [80]:
# We can use latex commands in-line with dollar signs in the markdown cells.

In [81]:
a=1289.0
type(a)

float

In [84]:
# This is not an array
array = np.arr([[1],[3],[5]])

AttributeError: module 'numpy' has no attribute 'arr'

In [86]:
dictionary = {"MARKS": 75, "RANK" : 7}
type(dictionary)

dict

In [88]:
matrix = np.array([[1,2],[3,4],[5,6]])
matrix

array([[1, 2],
       [3, 4],
       [5, 6]])