### MLS 1 - Hands-On coding based discussion - Roman Dzadzic 08/29/2021

In [29]:
a=2
b=2

In [32]:
print(a+b)

4

In [12]:
for i in [1,2,3,5]:
    print(i*i)

1
4
9
25

In [23]:
int_var=6
type(int_var)

int

In [24]:
float_var=float(int_var)
float_var

6.0

In [25]:
type(float_var)

float

In [28]:
float_var=2.35656565656565656565656565656
type(float_var)

float

In [35]:
complex_var=4+0.398J
type(complex_var)

complex

In [36]:
complex_var.real

4.0

In [37]:
complex_var.imag

0.398

In [38]:
str_var='MY name Roman Dzadzic'

In [39]:
type(str_var)

str

In [42]:
str_var.upper() #when you put a function on top of variable, variable doesn't change

'MY NAME ROMAN DZADZIC'

In [41]:
str_var

'MY name Roman Dzadzic'

In [43]:
str_var=str_var.lower()

In [44]:
str_var

'my name roman dzadzic'

In [48]:
range(len(str_var))

range(0, 21)

In [52]:
list_var=['my name is roman dzadzic']

In [55]:
str_var='MY/name/roman/dzadzic'

In [58]:
words=str_var.split('/')
words

['MY', 'name', 'roman', 'dzadzic']

In [59]:
#solution 1:  range(15, len(str_var))
#solution 2: for i in str_var:
#solution 3: str_var.split('/')
#solution 4: below
for i in words: #string is a collection of characters
    print(i)

MY
name
roman
dzadzic

### If else

In [63]:
x=-1
if x>0:
    print('Hello World')

Hello World

In [62]:
x>0

False

In [65]:
x=99

In [77]:
x=45
#play with and use parenthesis, but without them... Python groups or and and
if x>0 or x<10 and x>90:
    print('Hello World')

Hello World

In [81]:
x=-1
if x>0:
    print('Hello World')
else:
    print('Print Something Else')

Print Something Else

In [84]:
x=-1
if x>0:
    print('Hello World')
elif x<-2:
    print('Hold on for a sec')
else:
    print('Print Something Else')

Print Something Else

## Loops

In [88]:
for i in range(11):
    print(i*i)

0
1
4
9
16
25
36
49
64
81
100

In [95]:
i=0
while i < 11:
    print(i*i)
    i=i+1

0
1
4
9
16
25
36
49
64
81
100

In [99]:
numbers=[11,12,13,14,15]

for i in range(len(numbers)):
    print("Position is: ", i, "and square is", numbers[i]**2)

Position is:  0 and square is 121
Position is:  1 and square is 144
Position is:  2 and square is 169
Position is:  3 and square is 196
Position is:  4 and square is 225

In [104]:
for i, x in enumerate(numbers):
    print("position:",i,"number:",x,"square:",x*x)

position: 0 number: 11 square: 121
position: 1 number: 12 square: 144
position: 2 number: 13 square: 169
position: 3 number: 14 square: 196
position: 4 number: 15 square: 225